parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
        - ./resources/console
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/TodotxtBundle.php
        - resources/console/Repl.php
    
    ignoreErrors:
        -
            identifier: missingType.iterableValue
