parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    checkMissingIterableValueType: false
    paths:
        - ./src
        - ./tests
        - ./resources/console
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/TodotxtBundle.php
        - resources/console/Repl.php

